body * {
    font-family: Lato;
}

a:hover {
    cursor: pointer;
}

.title {
    font-size: 60px;
    font-weight: 600;
    color: #382c14;
}

.subheading {
    color: #382c14;
    font-weight: 600;
    font-size: 33px;
}

.sub-subheading {
    color: #382c14;
    font-weight: 600;
    font-size: 24px;
}

.form-question-text {
    font-size: 19px;
}

.form-help-text {
    font-size: 17px;

    a {
        text-decoration: underline;
    }
}

.green-button {
    background: #1b624f;
    color: white;
    width: max-content;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;

    &:hover {
        cursor: pointer;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0 0);
    }
}

.user-stat {
    color: #ccb48d;
    font-size: 39px;
}

.user-stat-text {
    color: #9a9a9a;
    font-size: 15px;
}

.user-medium-text {
    font-size: 32px;
    color: #382c14;
    font-weight: 600;
}

.user-submedium-text {
    font-size: 28px;
    color: #382c14;
    font-weight: 600;
}

.featured-loc-title-text {
    font-size: 60px;
    color: #382c14;
    font-weight: 600;
}

.featured-loc-summary-text {
    color: #382c14;;
    font-size: 24px;
}

.sub-loc-main-title-text {
    color: #382c14;
    font-size: 29px;
    font-weight: 500;
}

.sub-loc-main-summary-text {
    color: #382c14;
    font-size: 19px;
}

.sub-loc-list-item-text {
    color: #382c14;
    font-size: 24px;
    font-weight: 600;
}

.placeholder {
    height: 100vh;
}