.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #efe8dc;
    padding: 2% 0 2% 0;

    p {
        margin: 10px 0px;
        font-size: 19px;
        width: 700px;
        line-height: 1.15em;

        a {
            text-decoration: 1px underline;
        }
    }
}