.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .homepage-searchbar-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        color: #333333;
        background-color: #1b624f;
        z-index: -2;
        height: 212px;
        
        &::before {
            height: 100%;
            width: 100%;
            content: "";
            background-image: url(asset-path('AO_topography.png'));
            background-size: 425px;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.33;
            z-index: -1;
        }

        .headline {
            text-align: center;
            color: white;
            font-size: 60px;
            font-weight: 700;
            width: 700px;
        }

        .searchbar {
            box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.39);
            position: relative;
            top: 30px;
        }
    }

    .splash-locations-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 5% 18% 2% 18%;
        width: 1150px;

        .featured-loc-box {
            display: flex;
            padding: 0 0 15px 0;
            width: 100%;

            &:hover {
                
                .featured-loc-title-text {
                    text-decoration: 4px #888071 underline;
                }
            }

            .featured-loc-text-container {
                display: flex;
                flex-direction: column;
                padding: 0 15px 0 0;
                width: 33.33333333%;
            }

            .featured-loc-title-text {
                margin: 0 0 10px 0;
            }

            img {
                width: 66.6666%;
                height: 525px;
            }
        }

        .subordinate-locations-box {
            display: flex;
            width: 100%;


            .sub-loc-main-items-index {
                display: flex;
                width: 66.66666%;
                
                .sub-loc-main-item {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    padding: 0 15px 0 0;

                    &:hover {
                        .sub-loc-main-title-text {
                            text-decoration: 3px #888071 underline;
                        }
                    }

                    .sub-loc-main-summary-text {
                        margin: 5px 0 0 0;
                    }

                    img {
                        width: 100%;
                        height: 282px;
                    }
                }
            }

            .sub-loc-list-items-index {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 33.33333333%;

                .sub-loc-list-item {
                    display: flex;
                    align-items: center;
                    padding: 10px 0 10px 0;
                    border-bottom: 1px solid lightgrey;

                    &:hover{
                        
                        a {
                            text-decoration: 2px #888071 underline;
                        }
                    }
                }
            }
        }

        .homepage-add-button {
            align-self: center;
            margin: 3% 0 0 0;
            padding: 15px;
            font-size: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 66.6666%;

            p {
                margin: 0 0 0 1%;
            }
        }
    }
}