.location-container {
    width: 100%;
    margin-top: 2%;
    
    .location-headers {
        padding: 0 10% 2% 10%;
        display: flex;
        justify-content: space-between;

        .location-title-container {
            .location-summary {
                font-size: 28px;
                padding: 1% 0 0 0;
            }
        }


        .tag-buttons {
            display: flex;
            color: #888071;

            .tag-button-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                > p {
                    font-size: 30px;
                    color: #1b624f;
                }
            }

            .tag-button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 2px solid #888071;
                border-radius: 5px;
                padding: 10px;
                height: 95px;
                width: 95px;
                margin: 4px;
                letter-spacing: 0.1em;

                svg {
                    font-size: 30px;
                    margin: 2px;
                }

                p {
                    font-size: 12px;
                    text-align: center;
                    line-height: 14px;
                    margin: 4px;
                    width: 100%;
                }

                &:hover {
                    border-color: #8ed486;
                    cursor: pointer;
                }
                
            }
            
            > div:last-child:hover {
                // border-color: #50416d;
                // border-color: #dcd9e2;
                border-color: #00527d;
            } 

            .tagged {
                background: #8ed486;
                border: 2px solid #8ed486;
                color: white;

                &:hover {
                    color: #8ed486;
                    background: white;
                }
            }

        }
    }

    .location-bodies {
        background: #efe8dc;
        padding: 2% 10% 2% 10%;
        display: flex;
        justify-content: space-between;

        .location-text {
            font-size: 110%;
            color: #382c14;
            line-height: 1.2em;
            margin: 0 2% 0 0;
            display: flex;
            flex-direction: column;

            .addl-info-container {

                margin: 2% 0 2% 0;

                .addl-info-header {
                    color: #382c14;
                    font-size: 24px;
                    padding: 0 0 1% 0;
                }
            }
        }

        .location-details-container {

            background: white;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 20px;
            height: min-content;
            margin: 0 0 2% 0;

            .loc-det-item{
                display: flex;
                justify-content: spa;
                margin: 0 0 1% 0;
                padding: 4px;
                width: 100%;

                > p {
                    margin: 0 0 0 1%;
                }

                svg {
                    font-size: 18px;
                }
            }

            #map-container {
                height: 300px;
                width: 450px;
                border-radius: 10px;
            }
        }

    }
}
