.location-container {
    width: 100%;
    margin-top: 2%;

    .location-topline {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10% 2% 10%;

        .location-headers {
        display: flex;
        justify-content: space-between;
        width: 100%;

            .location-title-container {
                .location-summary {
                    font-size: 28px;
                    padding: 1% 0 0 0;
                }
            }


            .tag-buttons {
                display: flex;
                color: #888071;
                margin: 0 0 0 1%;

                .tag-button-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    > p {
                        font-size: 30px;
                        color: #1b624f;
                    }
                }

                .tag-button {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid #888071;
                    border-radius: 5px;
                    padding: 10px;
                    height: 95px;
                    width: 95px;
                    margin: 4px;
                    letter-spacing: 0.1em;

                    svg {
                        font-size: 30px;
                        margin: 2px;
                    }

                    p {
                        font-size: 12px;
                        text-align: center;
                        line-height: 14px;
                        margin: 4px;
                        width: 100%;
                    }

                    &:hover {
                        border-color: #8ed486;
                        cursor: pointer;
                    }
                    
                }
                
                > div:last-child:hover {
                    // border-color: #50416d;
                    // border-color: #dcd9e2;
                    border-color: #00527d;
                }

                .add-to-list {
                    position: relative;
                }

                .add-to-list-modal {
                    display: none;
                    position: absolute;
                    top: 0px;
                    right: 100%;
                    width: max-content;
                    background-color: white;
                    border: 1px solid #888071;
                    padding: 5px 14px;

                    & > * {
                        padding: 3px;
                    }

                    & > *:nth-last-child(3) {
                        padding-bottom: 6px;
                    }

                    .create-new-list {
                        border-top: 1px solid #888071;
                        padding-top: 6px;

                        display: flex;
                        justify-content: flex-start;
                    }

                    .lists-list {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 16px;

                        div {
                            display: flex;
                            align-items: center;
                            width: max-content;

                            label {
                                width: max-content;
                                margin-right: 30px;
                            }
                        }
                    }

                    &.clicked {
                        display: flex;
                        flex-direction: column;
                    }

                    .create-list-modal-background {
                        display: none;
                        position: fixed;
                        width: 127vw;
                        top: 0;
                        left: 0;
                        height: 145vh;
                        background: #1515159e;

                        &.opened {
                            display: block;
                        }
                    }
                    
                    .create-list-modal {
                        display: flex;
                        flex-direction: column;
                        position: fixed;
                        top: 25%;
                        left: 35%;
                        background-color: rgb(238, 238, 238);
                        padding: 20px;

                        .create-list-modal-close {
                            position: absolute;
                            top: 0%;
                            left: calc(100% + 10px);
                            font-size: 40px;
                            font-weight: 200;
                            color: white;
                        }

                        form {
                            display: flex;
                            flex-direction: column;

                            & > * {
                                margin: 0 0 15px 0;
                            }
                        }

                        h2 {
                            font-size: 24px;
                            color: #382c14;
                        }

                        .create-list-input {
                            font-size: 19px;
                            padding: 0px 15px;
                            border: 1px solid #e7e7e7;
                            height: 50px;
                        }

                        button {
                            background-color: #d36a55;
                            color: white;
                            border: none;
                            padding: 17px 30px;
                        }

                    }


                }

                .tagged {
                    background: #8ed486;
                    border: 2px solid #8ed486;
                    color: white;

                    &:hover {
                        color: #8ed486;
                        background: white;
                    }
                }

            }
    }

        .photo-container {
            padding: 2% 0 0 0;
            height: 400px;
            display: flex;
            img {
                max-height: 100%;
                margin: 0 10px;
            }
        }
    }
    

    .location-bodies {
        background: #efe8dc;
        padding: 2% 10% 2% 10%;
        display: flex;
        justify-content: space-between;

        .location-text {
            font-size: 110%;
            color: #382c14;
            line-height: 1.2em;
            margin: 0 2% 0 0;
            display: flex;
            flex-direction: column;

            .location-description {
                white-space: break-spaces;
                min-height: 300px;
            }

            .addl-info-container {

                margin: 2% 0 0 0;

                .addl-info-header {
                    color: #382c14;
                    font-size: 24px;
                    padding: 0 0 1% 0;
                }
            }
        }

        .location-details-container {

            background: white;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 20px;
            height: min-content;
            margin: 0 0 2% 0;

            .loc-det-item{
                display: flex;
                justify-content: spa;
                margin: 0 0 1% 0;
                padding: 4px;
                width: 100%;

                > p {
                    margin: 0 0 0 1%;
                }

                svg {
                    font-size: 18px;
                }

                a {
                    color: #a16a3a;
                    
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

                &.google-maps-link {
                    svg {
                        font-size: 14px;
                    }
                }
            }

            #map-container {
                height: 220px;
                width: 350px;
                border-radius: 10px;
            }
        }

    }
}