.page-body {
    background: #efe8dc;
    height: 100%;
    display: flex;
    flex-direction: column;

    .location-form-container {
        padding: 5% 8% 5% 8%;
    }

    .location-form {

        width: auto;
        display: flex;
        flex-direction: column;
        margin: 2% 0 0 0;

        > * {
            margin: 1% 0 0 0;
        }

        .subheading + * {
            margin: 2% 0 0 0;
        }

        input, textarea {
            resize: none;
            white-space: normal;
            padding: 1%;
            font-size: 19px;
            border: 1px solid lightgrey;
            margin: 1% 0 1% 0;
        }

        .description-help-text {
            margin: 3% 0 2% 0;
        }

        .description-textarea {
            height: 600px;
        }

        .form-submit-button {
            margin: 2% 0 0 0;
            font-size: 33px;
            align-self: center;
        }

        .cancel-button {
            align-self: center;
            padding: 10px;
            border-radius: 4px;
            color: #a16a3a;

            &:hover {
                background-color: lightgrey;
                opacity: 0.8;
                cursor: pointer;
            }
        }

        .optional-container {
            display: flex;
            align-items: center;

            p:nth-child(2) {
                margin: 0 0 0 10px;
                color: grey;
            }
        }


    }

}

.location-tips-container {
    margin: 2% 0 0 0;
    
    .location-tips-list {
        display: flex;
        margin: 2% 0 0 0;
    
        .location-tip {
            display: flex;
            flex-direction: column;
            width: 25%;
            margin: 0 3% 0 0;
    
            svg {
                color: #a16a3a;
                font-size: 36px;
            }

            .location-tip-text {
                margin: 4% 0 0 0;
            }
        }
    }

}


#location-form-map {
    width: 100%;
    height: 250px;
}

#photo-id-choose + * {
    margin-top: 0;
}

.photo-preview-container {
    margin: 0 0 0 0;
}

.photo-preview-helper {
    margin: 0 0 2% 0;
}

.photo-preview {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;


    .form-preview-image {
        
        padding: 0 0 0 0;
        margin: 0 1% 1% 1%;
        border: 1px solid black;
        max-height: 250px;
        max-width: 450px;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}

#photo-chooser-label {
    margin: 3% 0 2% 0;
}