.searchbar-positioner {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: -1;

    &:hover {
        cursor: default;
    }
}

.searchbar {
    position: relative;
    top: 250px;
    z-index: 10;
    transition: top 0.3s;

    &.clicked {
        top: 110px;

        .searchbar-input {
            width: 700px;
        }
    }

    .searchbar-form {
        padding: 5px;
        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.39);
        border-radius: 4px;
        background-color: white;
    }

    .searchbar-input {
        height: 100%;
        padding: 0 17px;
        font-size: 19px;
        border: none;
        width: 500px;
        transition: width 0.3s;

        &:focus {
            outline: none;
        }
    }

    .searchbar-button {
        font-size: 19px;
        background: #bd8049;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 17px 30px;
    }

    .search-results-display {
        position: absolute;
        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.39);
        top: calc(100% + 20px);
        background-color: white;
        width: 100%;

        > * {
            font-size: 19px;
            padding: 24px 24px;
            border-bottom: 1px solid lightgray;
        }

        .search-results {

            > p {
                font-weight: 600;
                margin-bottom: 10px;
            }

            li {
                display: flex;
                padding: 5px 0px;

                &:hover {
                    cursor: pointer;
                    
                    p {
                        text-decoration: 2px #888071 underline;
                    }
                }
            }

            li svg {
                margin-right: 10px;
            }
        }

        .search-results-random {
            display: flex;
            align-items: center;
            font-weight: 600;

            svg {
                height: 100%;
                font-size: 19px;
                color: #bd8049;
                margin-right: 10px;
            }

            a:hover {
                cursor: pointer;
                text-decoration: 2px #888071 underline;
            } 
        }
    }


    .search-modal-background {
        display: none;
        position: fixed;
        top: 75px;
        left: 0px;
        background-color: #efe8dc;
        width: 100vw;
        height: 100vh;
        z-index: -3;

        &.clicked {
            display: block;
        }
    }
}