.user-profile-container {
    height: 100vh;

    .user-profile-body {
        padding: 2.5% 18% 5% 18%;
        min-width: 1000px;
        display: flex;
        justify-content: space-between;

        .user-details-box {
            border: 1px solid lightgrey;
            padding: 10px;
            width: 33.33333333%;
            height: min-content;

            .user-photo-box {
                height: 100px;
                background-image: url(asset-path('AO_topography.png'));
                background-position: center;
                background-repeat: no-repeat;
                background-size: 150%;
                background-color: rgba(204,180,141, .1);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 160px;

                .user-photo {
                    width: 130px;
                    border-radius: 50%;
                }

            }

            .user-stat-li {
                display: flex;
                align-items: center;
                border-top: 1px solid lightgrey;
                padding: 3% 0 3% 0;
                
                &:hover {
                    cursor: pointer;
                }

                &:first-child:hover {
                    cursor: unset;
                }

                .user-stat {
                    margin-right: 3%;
                    padding-bottom: 3px;
                }
            }

        }

        .user-locations-box {
            display: flex;
            flex-direction: column;
            margin-left: 3%;
            width: 66.66666666%;

            .user-locations-map-box {
                display: flex;
                flex-direction: column;

                ul {
                    display: flex;

                    .user-map-button {
                        font-size: 15px;
                        height: 50px;
                        padding: 18px 10px;
                        color: #ccb48d;
                        background: rgba(204,180,141, .1);
                        margin-right: 2px;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .active {
                        background: #ccb48d;
                        color: white;
                    }
                }
            }

            .user-locations-index {
                width: 100%;
                margin: 2% 0 0 0;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;

                .user-locations-index-item {
                    width: 20%;
                    height: 144px;
                    border-bottom: 1px solid lightgrey;
                    margin: 2% 10px 0 0;

                    a:hover {
                        text-decoration: underline 2px #1b624f;
                    } 
                }
            }



        }


    }
}

#user-location-map-container {
    width: 100%;
    height: 430px;
}